
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #cccccc;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
}

.time-wrapper {
    background-color: #003399;
    width: 100%;
    padding: 1rem;
    border: 15px solid #99cccc;
    background-color: 003399;
    border-radius: 30px;
}

.time-wrapper h2 {
    text-align: center;
    color: #ff9933;
}

.time-wrapper h3 {
    text-align: center;
    font-size: 6rem;
    color: #ff9933;
    font-weight: 500;
}

.controls-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around ;
    align-items: center;  
}

.controls-wrapper button {
    font-size: 2.5rem;
    display: block;
    border: none;
    background-color: transparent;
    color: #ff9933;
}

.timeset-wrapper {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timeset-wrapper .control {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeset-wrapper .control h2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #003399;
    margin-bottom: 1rem;
}

.timeset-wrapper .control h3 {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    color: #003399;
}

.timeset-wrapper .control button {
    border: none;
    background-color: transparent;
    color: #ff9933;
    font-size: 2rem;
    font-weight: 700;
}

